---
import CardPrimary from "@/components/CardPrimary.astro";
import ImageMod from "@/components/ImageMod.astro";
import Share from "@/components/Share.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import dateFormat from "@/lib/utils/dateFormat";
import similarItems from "@/lib/utils/similarItems";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { markdownify } from "@/lib/utils/textConverter";
import CallToAction from "@/partials/CallToAction.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
  const cases = await getSinglePage("caseStudies");

  const paths = cases.map((item) => ({
    params: {
      single: item.id,
    },
    props: { item },
  }));
  return paths;
}

const { item } = Astro.props;
const { title, stats } = item.data;

const { Content, headings } = await render(item);

const validHeadings = headings.filter((heading) => heading.depth === 2);

const cases = await getSinglePage("caseStudies");
const sortedcases = sortByDate(cases).slice(0, 5);
const similarcases = similarItems(item, cases).slice(0, 3);

const caseData = {
  author: item.data.author,
  date: item.data.date,
};
---

<Base {...item.data}>
  <PageHeader title={title} caseData={caseData} />
  {
    stats && stats.length > 0 && (
      <section class="bg-light">
        <div class="container w-full lg:w-7/12 mx-auto">
          <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-px bg-border border border-border border-t-0">
            {stats.map((stat) => (
              <li class="p-6 text-center bg-light">
                <h3 class="h2 mb-2">{stat.value}</h3>
                <p class="text-text-dark">{stat.label}</p>
              </li>
            ))}
          </ul>
        </div>
      </section>
    )
  }

  <section class="section-sm bg-light">
    <div
      class="container flex flex-col lg:flex-row justify-center gap-5 items-start"
    >
      {
        validHeadings.length > 0 && (
          <aside
            data-aos="fade-right-sm"
            data-aos-delay="200"
            class="bg-body rounded-2xl p-4 shrink-0 max-w-62 lg:sticky top-30 hidden lg:block"
          >
            <nav>
              <small class="font-semibold text-text-dark font-primary text-sm">
                Table of Contents
              </small>
              <ul>
                {validHeadings.map((heading) => (
                  <li>
                    <a
                      href={`#${heading.slug}`}
                      class="block py-2 px-2 text-xs hover:bg-light rounded"
                    >
                      {heading.text}
                    </a>
                  </li>
                ))}
              </ul>
            </nav>
          </aside>
        )
      }
      <article
        data-aos="fade-up-sm"
        data-aos-delay="200"
        class="w-full lg:w-7/12 bg-body rounded-2xl px-6 sm:px-8 xl:px-10"
      >
        {
          validHeadings.length > 0 && (
            <nav class="lg:hidden py-6 border-b border-border">
              <small class="font-semibold text-text-dark font-primary text-sm">
                Table of Contents
              </small>
              <ul>
                {validHeadings.map((heading) => (
                  <li>
                    <a
                      href={`#${heading.slug}`}
                      class="block py-2 pl-2 text-sm hover:bg-light rounded"
                    >
                      {heading.text}
                    </a>
                  </li>
                ))}
              </ul>
            </nav>
          )
        }
        <div class="content">
          <Content />
        </div>
      </article>

      <aside
        data-aos="fade-left-sm"
        data-aos-delay="200"
        class="w-full lg:w-auto shrink-0 lg:max-w-62 lg:sticky top-30"
      >
        {
          sortedcases.length > 0 && (
            <nav class="bg-body rounded-2xl p-4">
              <small class="font-semibold text-text-dark font-primary text-sm">
                Recent cases
              </small>
              <ul>
                {sortedcases.map((item) => (
                  <li>
                    <a
                      href={`${item.id}`}
                      class="block py-2 pl-2 text-sm hover:bg-light rounded"
                    >
                      <div class="flex">
                        <ImageMod
                          src={item?.data.image}
                          alt={item?.data.title}
                          width={50}
                          height={40}
                          class="inline-block mr-2 rounded object-cover"
                        />

                        <div>
                          <span class="text-[10px]">
                            By {item?.data.author.name} -{" "}
                            {dateFormat(item?.data.date)}
                          </span>
                          <h6 class="text-sm line-clamp-1 font-medium">
                            {item?.data.title}
                          </h6>
                        </div>
                      </div>
                    </a>
                  </li>
                ))}
              </ul>
            </nav>
          )
        }

        <!-- Social Share  -->
        <div class="bg-body rounded-2xl p-4 mt-5">
          <small class="font-semibold text-text-dark font-primary text-sm">
            Share
          </small>
          <Share
            slug={item.id}
            className="space-x-5 mt-2 text-xl pl-2"
            title={item.data.title}
            description={item.data.description}
          />
        </div>

        <!-- Subscribe to newsletter  -->
        {
          config.subscription_in_footer &&
            config.subscription_in_footer.enable && (
              <div class="bg-body rounded-2xl p-4 mt-5 hidden lg:block">
                <small class="font-semibold text-text-dark font-primary text-sm">
                  Subscribe to Newsletter
                </small>

                <form
                  action={config.subscription_in_footer.mailchimp_form_action}
                  target="_blank"
                  method="post"
                >
                  <div
                    data-aos="fade-left-sm"
                    data-aos-delay="200"
                    class="flex justify-between rounded-lg bg-light px-3 py-2 border border-border mb-5 mt-2"
                  >
                    <input
                      type="email"
                      placeholder="Enter your email"
                      class="form-input w-full rounded-full border-transparent! bg-transparent! py-2! pl-2! placeholder:opacity-100! placeholder:font-normal"
                      required
                      name={config.subscription_in_footer.mailchimp_form_name}
                    />
                    <button
                      title="Subscribe"
                      class="transition hover:opacity-80 pr-2"
                      type="submit"
                    >
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M17.1772.0665905C17.3647-.0359303 17.5912-.0187131 17.7637.108851 17.9362.237198 18.0247.454761 17.994.673889L15.9315 15.152C15.9067 15.3234 15.81 15.476 15.6675 15.5668 15.5782 15.6231 15.477 15.6521 15.375 15.6521 15.3135 15.6521 15.252 15.6411 15.1935 15.6208L7.33126 12.8167 15.0622 3.09761 5.07152 12.0114.380282 10.3382C.168033 10.2623.0187833 10.062.00153335 9.8272-.0149666 9.5932.102783 9.37094.302282 9.26216L17.1772.0665905zM6.56261 17.413V13.7833l3.05024 1.0879-2.03474 2.8893C7.47011 17.9139 7.30061 18 7.12511 18 7.06661 18 7.00736 17.9906 6.94961 17.971 6.71861 17.8912 6.56261 17.6666 6.56261 17.413z"
                          fill="#070127"
                        />
                      </svg>
                    </button>
                  </div>

                  <label
                    data-aos="fade-left-sm"
                    data-aos-delay="300"
                    for="checkbox"
                    class="text-xs block"
                    style="line-height:normal"
                  >
                    <input
                      type="checkbox"
                      name="checkbox"
                      id="checkbox"
                      required
                      class="appearance-auto rounded-sm accent-primary ring-0"
                    />
                    <span>I agree with </span>
                    <a
                      href="/privacy-policy"
                      class="text-text-dark font-semibold hover:text-primary transition duration-300"
                    >
                      privacy policy.
                    </a>
                  </label>
                </form>
              </div>
            )
        }
      </aside>
    </div>
  </section>

  <section
    class="section bg-dark section-divider"
    style="--section-divider-color: var(--color-dark)"
  >
    <div class="container">
      {
        similarcases.length > 0 && (
          <>
            <h2
              data-aos="fade-up-sm"
              data-aos-delay="150"
              class="text-center text-white text-balance mb-12"
              set:html={markdownify(
                "<mark>Related</mark> case studies <mark>you may</mark> like"
              )}
            />
            <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
              {similarcases.map((post) => (
                <CardPrimary
                  data={post.data}
                  id={`/blog/${post.id}`}
                  hasDarkArrow
                  smallImage
                />
              ))}
            </div>
          </>
        )
      }
    </div>
  </section>

  <CallToAction />
</Base>
